@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30deg, 38%, 92%);
  font-family: "Montserrat", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main > .card > .card-body {
  padding: 36px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
main > .card > .card-body > h5 {
  letter-spacing: 5px;
  font-weight: 500;
  color: hsl(228deg, 12%, 48%);
  font-size: 13px;
}
main > .card > .card-body > h1 {
  font-family: "Fraunces", serif;
  line-height: 35px;
}
main > .card > .card-body > .pera {
  color: hsl(228deg, 12%, 48%);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
main > .card > .card-body > .prize {
  font-size: 32px;
  font-weight: 700;
  color: #3f816a;
  font-family: "Fraunces", serif;
}
main > .card > .card-body > .prize > span {
  font-size: 12px;
  text-decoration: line-through;
  color: hsl(228deg, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  position: relative;
  left: 15px;
  top: -6px;
}
main > .card > .card-body > button {
  padding: 16px 76px 16px 76px;
  border-radius: 10px;
  border: none;
  background-color: #3d8168;
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
main > .card > .card-body > button > img {
  position: relative;
  top: 3px;
  padding-right: 4px;
}
main > .card > .card-body > button:hover {
  background-color: #1a4031;
}

@media only screen and (max-width: 1023px) {
  .card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: hsl(0deg, 0%, 100%);
    border-radius: 10px;
    width: 350px;
    overflow: hidden;
    box-shadow: none;
    margin-bottom: 30px;
  }
  .card > .card-img {
    width: 100%;
    background: rgba(0, 0, 0, 0.065) url(../images/image-product-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    height: 240px;
  }
  .card > .card-body {
    padding: 36px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 420px;
  }
}
@media only screen and (min-width: 1024px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: hsl(0deg, 0%, 100%);
    border-radius: 10px;
    max-width: 660px;
    overflow: hidden;
    box-shadow: 26px 26px 35px -40px black;
    margin-bottom: 60px;
  }
  .card > .card-img {
    width: 330px;
    background: rgba(0, 0, 0, 0.065) url(../images/image-product-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    height: 480px;
  }
}/*# sourceMappingURL=style.css.map */